#tile{
width:50px;
height:50px;
}



#img{

width:100px;
height:100px;

}


td{

border:1px solid black;
width:20px;
height:20px;
}

.erba{
background-image:url('../texture/erba.png');
}


.missingTexture{
background-image:url('../texture/MISSING_TEXTURE_0x00000000.png');
}

.erbaGlass{
background-image:url('../texture/Erba_glass.png');
}

.acqua {
background-image:url('../texture/Acqua.png');
}

.acquaGlass{
background-image:url('../texture/Acqua_glass.png');
}

.erbaMagika{
background-image:url('../texture/Erba_magika.png');
}

.erbaScura{
background-image:url('../texture/Erba_scura.png');
}
.terra
{
background-image:url('../texture/Terra.png');
}

.terraGlass{
background-image:url('..
