#tile{
width:50px;
height:50px;
}



#img{

width:100px;
height:100px;

}


td{

border:1px solid black;
width:20px;
height:20px;
}

.erba{
background-image:url('../Textures/Erba.png');
}


.missingTextures{
background-image:url('../Textures/MISSING_TEXTURE_0x00000000.png');
}

.erbaGlass{
background-image:url('../Textures/Erba_glass.png');
}

.acqua {
background-image:url('../Textures/Acqua.png');
}

.acquaGlass{
background-image:url('../Textures/Acqua_glass.png');
}

.erbaMagika{
background-image:url('../Textures/Erba_magika.png');
}

.erbaScura{
background-image:url('../Textures/Erba_scura.png');
}
.terra
{
background-image:url('../Textures/Terra.png');
}

.terraGlass{
background-image:url('../Textures/Terra_glass.png');
}
